*{
    font-family: 'Roboto','Shrikhand','Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

$primary : #9356DC;
$secondary : #FF79DA;
$tercary : #99E2D0;

.view{
    min-width: 375px;
    max-width: 1440px;
    margin: auto;
}

.btn{
    font-size: 16px;
    color: white;
    padding: 5%;
    border-radius: 25px;
    border: 0;
    background: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%); 
    transition: opacity 300ms, scale(1.2);

    &__cmd {

        display: flex;
        margin: auto;
        padding: 4%;
        margin-top: 4%;
        margin-bottom: 10%;
    }
    
}

@media (min-width : 768px){
    .btn{
        padding: 3%;
        font-size: 20px;
        &__cmd{
            padding: 2%;
        }
    }
}

.btn:hover{
   opacity: 80%;
   transform: scale(1.01);
}


legend{
    font-style: italic;
    font-size: 15px;
}

/* H */

h1{
    font-size: 24px;
    font-weight: 600;
}



h2 {
    font-size: 18px;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    font-weight: 300;
}

@media (min-width : 768px) {
    h1{
        font-size: 28px;
    }

    h2{
        font-size: 22px;
    }
    h3{
        font-size: 20px;
    }
    legend {
        font-size: 19px;
    }
    p{
        font-size: 19px;
    }
}

a{
    text-decoration: none;
    color: black;
}

section{
    h1{
        padding-left: 4%;
    }
}


header {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    align-items: center;
    background-color: white;
    z-index: 999;
    border-bottom: 1px solid #c5c5c5;
    padding: 2%;
    

        img{
        width:70%;
        margin: auto;
        }
        span{
            color: black;
            margin-left: 50%;
        }
}

@media (min-width: 768px){
    header {
        padding: 1%;
        img{
            width: 40%;
        }
    }

}
/*Location*/ 

.location {
    background-color: #EAEAEA;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img{
        max-height: 16px;
        margin-right: 5%;
        
    }
    h2{
        padding: 5%;
    }
}

/*Dicscover*/

.discover {
    background-color: #F6F6F6;
    text-align: center;
    padding-bottom: 5%;
    div{
        padding: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/*Fonctionnement*/ 

.fonctionnement {
    margin-top: 8%;
}

.fonctionnement > div {
        display: flex;
        flex-direction: column;
        margin: 8%;
        gap: 1em;
}
@media (min-width: 768px) {
    .fonctionnement > div{
        flex-direction: row;
        margin: 0;
        padding: 0;
        gap: 0;
    }  
    
}

.fonctionnement__step{ 
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 10%;
    white-space: nowrap;
    gap : 10px;
        
    img{
        max-height: 20px;
    }
}

@media (min-width: 768px) {
    .fonctionnement__step {
        padding: 2%;
        margin: auto;
        width: 30%;
    }
}


.fonctionnement__step:first-child::before{
    content: "1";
    background-color: $primary;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    left: -15%;
    top: 5%;
}


.fonctionnement__step:nth-child(2)::before{
    content: "2";
    background-color: $primary;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    left: -15%;
    top: 5%;

}
.fonctionnement__step:nth-child(3)::before{
    content: "3";
    background-color: $primary;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    text-align: center;
    color: white;
    position: relative;
    left: -15%;
    top: 5%;
}

.fonctionnement__step:nth-child(3) i{
    color: $primary;
}

/*Restaurants*/ 

.restaurant {
    background-color: #F6F6F6;
    width: 100%;
    padding-bottom: 10%;
    padding-top: 10%;
    img{
        width: 330px; 
        height: 200px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    h1{
        padding-bottom: 5%;
    }
    h2 {
        padding: 2%;
    }
    h3{
        padding: 2%;
    }
    &__cards {
        background-color:#F6F6F6;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__card {
        display: flex;
        justify-content: center;
        margin: auto;
        background-color: white;
        box-sizing: border-box;
        border-radius: 15px;   
        }
    &__description {
        display: flex;
        align-items: center;
        padding: 2%;
        white-space: nowrap;
        div{
            width: 50%;
        }
    }

    &__coeur {
        text-align: right;
        padding: 4%;
    }
    }

@media (min-width: 768px) {

    .restaurant {

        img{
            white-space: nowrap;

        }
        &__cards{
            display: flex;
            flex-wrap: wrap;
            flex-direction: unset;
            width: 100%;
        }
        &__card {
            
            
        }
    }
   
}





/* Footer */



footer{
    background-color: #353535;
    color: white;
    line-height: 1.7em;
    img{
        color: white;
        max-height: 26px;
    }
    p {
        font-family: 'Shrikhand';
        font-size: 18px;
        font-style: italic;
        color: white;
    }
}

footer div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: baseline;
    div{
        flex-direction: row;
    }
}
@media (min-width: 768px) {
    footer{
        display: flex;
        flex-direction: row-reverse;
        justify-content: right;
        padding: 3%;
        gap: 50px;
        div{
            flex-direction: row;
            text-align: right;
            gap: 20px;
        }
    }
    
}


/*menu*/ 
.menu__subtitle {
    border-bottom: 3px solid $tercary;
    width: 10%;
    margin-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.menu {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    border-radius: 34px;
    margin-top: -34px;
    padding-bottom: 30px;
    & .menu__coeur{
        color: $primary;

    }
}

.menu button{
    display: flex;
}

.menu__menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 95%;
    margin: auto;
}
.menu__img{
    width: 375px;
    height: 275px;
}

.menu__title{
    font-family: 'Shrikhand';
    font-size: 28px;
    padding: 0;
    margin: 0;
}

.menu__header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding:20px 50px 30px 14px;

}

.menu__card{
    background-color: white;
    border-radius: 15px;
    padding: 3%;
    box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
}

.menu__card {
    div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
}

